<nav class="navbar navbar-fixed-top">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="navbar-header">
                <a class="navbar-brand"><img src="assets/small-logo.png" alt="logo"/></a>
            </div>
        </div>

        <div class="col-md-7">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#news">Новости</a>
                </li>
                <li>
                    <a href="#prices">Цены</a>
                </li>
                <li>
                    <a href="#contacts">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Контакты</a>
                </li>
                <li>
                    <a href="#about">О Нас</a>
                </li>
                <% if current_user %>
                <li>
                    <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>Мой Профиль</a>
                <li>
                <% else %>
                <li>
                    <a href="">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>Войти</a>
                <li>
                    <% end %>
            </ul>
        </div>

    </div>
</nav>
<main class="container-fluid">
    <section class="banner">
        <div class="promo">
            <header>
                <h1 class="text-uppercase">stefania</h1>
                <h2>парикмахерская</h2>
            </header>
        </div>
    </section>
    <section id="news" class="news">
        <header>
            <h2>Новости</h2>
        </header>
        <div class="row"></div>
    </section>

    <section id="prices" class="prices">
        <header>
            <h2>Цены</h2>
        </header>
    </section>
    <section id="contacts" class="contacts">
        <header>
            <h2>Контакты & Расположение</h2>
        </header>
    </section>
    <section id="about" class="about">
        <header>
            <h2>О нас</h2>
        </header>
    </section>

</main>
<footer>
    <div class="row">
        <div class="col-md-4 barber-tag">
            <a href="#" class="text-uppercase">
                #stefania
            </a>
        </div>
        <div class="col-md-4 designed">
            <p>
                Copyright &copy; 2016 Nagaraev.com
            </p>
        </div>

        <div class="col-md-4 social-networks">
            <nav class="nav navbar-right ">
                <a href="#" class="icon">
                    <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
                </a>
                <a href="#" class="icon">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </a>
                <a href="#" class="icon">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>

            </nav>
        </div>

    </div>

</footer>
