<div id="calendar">

</div>

<div id="dialog" title="Добавить клиента">
  <form>
    <div class="form-group">
      <label for="name">Имя</label>
      <input type="text" class="form-control" id="name" placeholder="Имя">
    </div>
    <div class="form-group">
      <label for="phone">Телефон</label>
      <input type="text" class="form-control" id="phone" placeholder="Телефон">
    </div>
    <div class="form-group">
      <label for="start">Начало</label>
      <input type="text" class="form-control timepicker" id="start" placeholder="Начало">
    </div>
    <div class="form-group">
      <label for="end">Конец</label>
      <input type="text" class="form-control timepicker" id="end" placeholder="Конец">
    </div>
    <button type="submit" class="btn btn-default">Добавить</button>
  </form>
</div>
