$banner-height: 1000px;
$white: #ffffff;
$background-color: #008000;
$navbar-color: #000000;
$promo-header-color: $white;
$section-height: 200px;
$footer-color: #000000;
$news-height: $section-height;
$about-height: $section-height;
$prices-height: $section-height;
$contacts-height: $section-height;
$navbar-height: 80px;
$footer-height: 120px;
$section-color2: lighten(#e4e4e4,8%);
$icon-height: 60px;
$icon-width: 60px;
$icon-color: $white;
$extra-color: #ff5c93;

body,
html {
    height: 100%;
    font-size: 20px !important;
}

body {
    padding-top: $navbar-height;
}

nav {
    overflow: hidden;
    background: $navbar-color;
    padding: 0;
    height: $navbar-height;

    .navbar-header {
        line-height: $navbar-height/2 !important;
        padding: 0;
    }

    a {
        line-height: $navbar-height/2 !important;
        color: #ffffff;
    }

    ul {
        a {
            height: $navbar-height;
            font-size: 1.5rem;

            &:hover {}
        }
    }
}

main {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0 0 $footer-height !important;

    .banner {
        height: $banner-height;
        background: url("banner.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;

        .promo {
            color: $promo-header-color;
            text-align: center;
            position: absolute;
            right: 30%;
            top: 30%;

            h1 {
                margin: 0;
            }

            h2 {}
        }
    }

    .news {
        min-height: $news-height;

        header {}
    }

    .prices {
        min-height: $prices-height;

        header {}
    }

    .contacts {
        min-height: $contacts-height;

        header {}
    }

    .about {
        min-height: $about-height;

        header {}
    }

    section {
        &:nth-child(even) {
            background: $section-color2;
        }

        header {
          h2 {
              font-size: 2rem;
              text-align: center;
              margin: 0;
          }
        }
    }
}

footer {
    background: $footer-color;
    height: $footer-height;
    margin-top: -$footer-height;
    overflow: hidden;

    .flex-center {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .row {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .barber-tag {
        @extend .flex-center;

        a {
            font-size: 2rem;
            font-weight: bold;
            color: $extra-color;
            text-decoration: none;
            &:hover {
             color: darken($extra-color,10%);
            }
        }
    }

    .designed {
        @extend .flex-center;

        p {
            font-size: 1.5rem;
            color: $white;
        }
    }

    .social-networks {
        @extend .flex-center;

        a {
            margin-right: 20px;
        }

        .icon {
            height: $icon-height;
            display: inline-block;
            width: $icon-width;
            border-radius: 50%;
            background-color: $icon-color;
            text-align: center;

            &:hover {
                background: darken($icon-color, 20%);
            }

            i {
                line-height: $icon-height;
                color: #000000;
            }
        }
    }
}
