@import "variables";

body,
html {
    height: 100%;
    font-size: 20px !important;
}

body {
    padding-top: $navbar-height;
}

.icon {
    background-color: $icon-color;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    position: relative;

    &:hover {
        background: darken($icon-color, 20%);
    }

    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #000000;
    }
}

main {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0 0 $footer-height !important;

    .banner {
        height: $banner-height;
        background: image-url("banner.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;

        .promo {
            color: $promo-header-color;
            text-align: center;
            position: absolute;
            right: 7%;
            top: 15%;

            header {
                transform: rotate(14deg);

                h1 {
                    margin: 0;
                    letter-spacing: 0.7rem;
                    text-shadow: -5px 3px 3px black;
                    font-size: 9rem;
                    font-family: Walter Turncoat;
                }

                h2 {
                    text-shadow: -3px 3px 3px black;
                    font-size: 3rem;
                    letter-spacing: 4px;
                    font-family: Neucha;
                }
            }
        }

        .button-enroll {
            position: absolute;
            bottom: 30%;
            right: 20%;
            width: $btn-enroll-width;
            height: $btn-enroll-height;
            background: $btn-enroll-color;
            color: #000000;
            box-shadow: 5px -5px 5px lighten(#000000,10%);
            border-radius: 20px;
            text-align: center;
            text-decoration: none;
            font-family: Neucha;

            &:hover {
                background: darken($btn-enroll-color,20%);
            }

            .text {
                &-up {
                    letter-spacing: 2px;
                    font-weight: bold;
                    margin: -5px 0 -20px;
                    font-size: 2.8rem;
                }

                &-down {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .news {
        min-height: $news-height;
        padding: 40px;

        header {
            margin-bottom: 40px;
        }

        .icon {
            width: $news-icon-width;
            height: $news-icon-height;
            background: $extra-color-second;
        }

        .title {
            h2 {
                margin: 0 0 10px;
            }
        }

        .description {
            p {}
        }
    }

    .prices {
        min-height: $prices-height;

        header {}
    }

    .contacts {
        min-height: $contacts-height;

        header {}
    }

    .about {
        min-height: $about-height;

        header {}
    }

    section {
        &:nth-child(even) {
            background: $section-color2;
        }

        header {
            h2 {
                font-size: 2rem;
                text-align: center;
                margin: 0;
            }
        }
    }
}

footer {
    background: $footer-color;
    height: $footer-height;
    margin-top: -$footer-height;
    overflow: hidden;

    .flex-center {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .row {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .barber-tag {
        @extend .flex-center;

        a {
            font-size: 2rem;
            font-weight: bold;
            color: $extra-color;
            text-decoration: none;

            &:hover {
                color: darken($extra-color,10%);
            }
        }
    }

    .designed {
        @extend .flex-center;

        p {
            font-size: 1.5rem;
            color: $white;
        }
    }

    .social-networks {
        @extend .flex-center;

        a {
            margin-right: 20px;
        }

        .icon {
            width: $icon-width;
            height: $icon-height;
        }
    }
}
