$banner-height: 1000px;
$white: #ffffff;
$background-color: #008000;
$navbar-color: #000000;
$promo-header-color: $white;
$section-height: 200px;
$footer-color: #000000;
$news-height: $section-height;
$about-height: $section-height;
$prices-height: $section-height;
$contacts-height: $section-height;
$navbar-height: 70px;
$footer-height: 120px;
$section-color2: lighten(#e4e4e4,8%);
$icon-height: 60px;
$icon-width: 60px;
$icon-color: $white;
$extra-color: #ff5c93;
$extra-color-second: #93D2F0;
$news-icon-width: 70px;
$news-icon-height: 70px;
$btn-enroll-width: 500px;
$btn-enroll-height: 100px;
$btn-enroll-color: #F0E68C;
$main-font: 'Neucha';
@import url( 'https://fonts.googleapis.com/css?family=Walter+Turncoat|Neucha');
